@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* For Chrome, Safari, and Opera */
/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Optional: If you want to hide the scrollbar track as well */
::-webkit-scrollbar-track {
  display: none;
}

/* Optional: If you want to hide the scrollbar handle */
::-webkit-scrollbar-thumb {
  display: none;
}


.container {
  display: flex;
  white-space: nowrap;
  width: 100%;
  height: clamp(3em, 10vw, 6em);
  overflow: hidden;
  font-family: sans-serif;
}

.loop-text {
  letter-spacing: 0.05em;
  animation: loopText 5s infinite linear;
}

.loop {
  height: 12px;
  width: 100%;
  max-width: 170px;
  background-color: white;
  margin-top: 20px;
  animation: loopText 5s infinite linear;
}

@keyframes loopText {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(100%);
  }
}

.pointer {
	position: relative;
	text-align: center;
}

.pointer img {
	width: 100px;
	display: block;
	margin: 0 auto;
}

.screen-log {
	position: absolute;
	bottom: -3rem;
	width: 300%;
	left: -100%;
	padding-top: 1rem;
	text-align: center;
}

