@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Hide scrollbar for Chrome, Safari, and Opera */
* {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

/* Hide scrollbar for IE, Edge, and Firefox */
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* For Firefox, you may need to use a different approach for scrollbar color */
*::-webkit-scrollbar {
  width: 12px; /* Adjust the width as needed */
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: transparent;
}


.container {

  display: flex;
  white-space: nowrap;
  width: 100%;
  height: clamp(3em, 10vw, 6em);
  overflow: hidden;
  font-family: sans-serif;

}


.loop-text {
  letter-spacing: 0.05em;
  animation: loopText 5s infinite linear;     
}

.loop{
  height: 12px;
  width: 100%;
  max-width: 170px;
  background-color: white;
  margin-top: 20px;
  animation: loopText 5s infinite linear;     
}

@keyframes loopText {

  from {
      transform: translateX(0);
   }

  to {
      transform: translateX(100%);
   }

}